<ul class="nav" role="menu">
    <li class="nav-home" role="menuitem"><a href="{{site.baseurl}}">Home</a></li>
    <li class="nav-about" role="menuitem"><a href="{{site.baseurl}}about/">About</a></li>
    <li class="nav-archive" role="menuitem"><a href="{{site.baseurl}}tag/ai/">AI</a></li>
    <li class="nav-archive" role="menuitem"><a href="{{site.baseurl}}tag/blockchain/">Blockchain</a></li>
    <li class="nav-archive" role="menuitem"><a href="{{site.baseurl}}tag/metaverse/">Metaverse</a></li>
    <li class="nav-archive" role="menuitem"><a href="{{site.baseurl}}tag/dev/">Dev</a></li>
    <li class="nav-archive" role="menuitem"><a href="/archive.html">All posts</a></li> 
    <!-- assets폴더안에 archvie.md파일이 자동변환되어 생성 -->
    <li class="nav-archive" role="menuitem"><a href="/author_archive.html">Posts by tags</a></li>
    <!-- assets폴더안에 author_archvie.md파일이 자동변환되어 생성-->
</ul>
